<li>
  <%= gravatar_for user, size: Settings.user.avatar_size %>
  <%= link_to user.name, user %>

  <% if current_user.is_admin? && !current_user?(user) %>
    | <%= link_to t("user.delete"), user, method: :delete,
      data:{confirm: t("user.you_sure?")} %>
  <% end %>
</li>
